<nav class="navbar navbar-expand-md navbar-dark  bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Date</a>
        <ul class="navbar-nav mr-auto mb-2 mb-md-0">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
            </li>
        </ul>
        <form class="d-flex" role="search">
            <input class="form-control mr-sm-2" type="search" placeholder="UserName" aria-label="Search">
            <input class="form-control mr-sm-2" type="search" placeholder="Password" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Login</button>
        </form>
    </div>
</nav>